<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangyang.cloud.module.iot.dal.tdengine.IotDeviceLogMapper">

    <update id="createDeviceLogSTable">
        CREATE TABLE IF NOT EXISTS device_log (
                                                  id CHAR(50),
            product_key CHAR(50),
            device_name CHAR(50),
            type CHAR(50),
            identifier VARCHAR(255),
            content VARCHAR(1024),
            code INT,
            ts DATETIME,
            report_time DATETIME,
            device_key CHAR(50)
            )
    </update>

    <select id="showDeviceLogSTable" resultType="String">
        SELECT TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_SCHEMA = DATABASE()
          AND TABLE_NAME = 'device_log'
    </select>

    <insert id="insert">
        INSERT INTO device_log (id, product_key, device_name, type, identifier, content, code, ts, report_time, device_key)
        VALUES (
                   #{id},
                   #{productKey},
                   #{deviceName},
                   #{type},
                   #{identifier},
                   #{content},
                   #{code},
                   NOW(),
                   #{reportTime},
                   #{deviceKey}
               )
    </insert>

    <select id="selectPage" resultType="com.jiangyang.cloud.module.iot.dal.dataobject.device.IotDeviceLogDO">
        SELECT *
        FROM iot_device_log
        <where>
            <if test="reqVO.productKey != null and reqVO.productKey != ''">
                AND product_key = #{reqVO.productKey}
            </if>
            <if test="reqVO.deviceKey != null and reqVO.deviceKey != ''">
                AND device_key = #{reqVO.deviceKey}
            </if>
            <if test="reqVO.type != null and reqVO.type != ''">
                AND type = #{reqVO.type}
            </if>
            <if test="reqVO.identifier != null and reqVO.identifier != ''">
                AND identifier = #{reqVO.identifier}
            </if>
            <if test="reqVO.createTime != null">
                AND ts >= #{reqVO.createTime[0]}
                AND ts &lt;= #{reqVO.createTime[1]}
            </if>
        </where>
        ORDER BY ts DESC
    </select>

    <select id="selectCountByCreateTime" resultType="Long">
        SELECT COUNT(*)
        FROM device_log
        <where>
            <if test="createTime != null">
                AND ts >= #{createTime}
            </if>
        </where>
    </select>

    <select id="selectDeviceLogUpCountByHour" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(ts, '%Y-%m-%d %H:00:00') as time,
        COUNT(*) as data
        FROM device_log
        <where>
            <if test="deviceKey != null and deviceKey != ''">
                AND device_key = #{deviceKey}
            </if>
            <if test="startTime != null">
                AND ts >= #{startTime}
            </if>
            <if test="endTime != null">
                AND ts &lt;= #{endTime}
            </if>
            AND identifier IN ('online', 'offline', 'pull', 'progress', 'report', 'register', 'register_sub')
        </where>
        GROUP BY DATE_FORMAT(ts, '%Y-%m-%d %H:00:00')
        ORDER BY time ASC
    </select>

    <select id="selectDeviceLogDownCountByHour" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(ts, '%Y-%m-%d %H:00:00') as time,
        COUNT(*) as data
        FROM device_log
        <where>
            <if test="deviceKey != null and deviceKey != ''">
                AND device_key = #{deviceKey}
            </if>
            <if test="startTime != null">
                AND ts >= #{startTime}
            </if>
            <if test="endTime != null">
                AND ts &lt;= #{endTime}
            </if>
            AND identifier IN ('set', 'get', 'upgrade', 'unregister_sub', 'topology_add')
        </where>
        GROUP BY DATE_FORMAT(ts, '%Y-%m-%d %H:00:00')
        ORDER BY time ASC
    </select>

</mapper>